:root{
    --color-primary:#e6e6e6;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
    /* header */
.header{
    width: 100vw;
    height:6vh;
    background-color: var(--color-primary);
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
.cal{
    font-size: 16px;
    padding-top: 7px;
    padding-left:10px ;
}
.header-btn{
    display: flex;
    flex-flow: row-reverse nowrap;  
}
.close{

    height: 20px;
    width: 20px;
    
}
.btn-header1{
    justify-content: center;
    padding: 5px 12px 3px 12px;
    justify-items: center;
    
}
.btn-header1:hover{
    background-color: red;
}
.btn-header2{
    justify-content: center;
    padding: 7px 12px 3px 12px;
    justify-items: center;
    
}
.restoreup{
    justify-content: center;
    justify-items: center;
    text-align: center;
}
.restore{
    display: none;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.btn-header4{
    justify-content: center;
    padding: 7px 12px 3px 12px;
    justify-items: center;
}
.minus{
    justify-content: center;
    justify-items: center;
    text-align: center;
}
.container{
    width: 100vw;
    height: calc(100% - 6vh);
    display: grid;
    grid-template-columns:76% 24% ;
    background-color: var(--color-primary);
    grid-template-areas: 
    'left-side right-side';
}
/* right side */
 .right-side{
     grid-area: right-side;
    height: 100%;
    background-color: var(--color-primary)
    
}
 .right-side-header{
     display: flex;
     flex-flow: row nowrap;
     padding: 2px 10px 2px 2px;
     margin: 1px 3px 20px 0px;
     direction: ltr;
     
}
.history-text{
    display: flex;
    flex-flow: row nowrap;
    padding: 2px 5px 2px 0px ;
    margin-right: 5px;
    border-bottom: rgb(37, 133, 243) 3px solid;
    direction: ltr;
   
}
.memory-text{

    padding: 3px 5px 2px 5px;
    
    margin-left: 5px;
    direction: ltr;
    display: flex;
    flex-flow: row nowrap;
}

.right-side-text{
    
    padding: 5px 2px;
    margin-left:5px;
}


    /* left side*/
 .left-side{
    grid-area: left-side;
    display: grid; 
    grid-template-rows:  30% 70%;  
    height: 100%;
    background-color: var(--color-primary);  
    
 }
.showcase{
    display: grid;
    grid-template-rows: 20% 55% 25%;
    background-color: var(--color-primary);
    grid-template-areas: 
    'showcase-icon'
    'showcase-area'
    'memory-btn';

}
.showcase-icon{
    grid-area:showcase-icon ;
    display: flex;
    flex-flow: row nowrap;
    background-color: var(--color-primary);
    align-items: center; 
}

.hamburger-menu{    
    padding: px 10px;

}
.hamburger-menu:hover{    
   background-color: rgba(10,95,70,.7);

}
.hamburger-menu-img{
    width: 20px;
    height: 15px;
    
}
.standard-text{    
    padding: 1px 10px;
   margin-left: 1px;
   margin-right: 1px;

}
.keep-btn{    
    padding: 5px 10px;
  
}
.keep-btn:hover{    
    background-color: rgba(10,95,70,.7);
}
.keep-btn-img{
    width: 20px;
    height: 20px;
    color: black;
   
} 
.showcase-area{
    grid-area:showcase-area ;
    background-color: var(--color-primary);
     width: 100%;
    height: 100%;
    direction: rtl; 
}
.show-ziro{
    font-size: 50px;
    font-weight: 600;
    justify-self: center;
    padding-top: 20px;
    
}
.memory-btn{
    grid-area: memory-btn;
    background-color: var(--color-primary);
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
}
.memory-btn-style{
    padding: 5px ;
    margin: 5px 25px 2px 25px;
}
.btn-area{
    justify-content: center;
    align-items: center;
    display: grid;
    
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(5,1fr);
    background-color: var(--color-primary);
    grid-template-areas: 
    'first-row-btn1 first-row-btn2 first-row-btn3 first-row-btn4 first-row-btn5'
    'secend-row-btn1 secend-row-btn2 secend-row-btn3 secend-row-btn4 secend-row-btn5'
    'third-row-btn1 third-row-btn2 third-row-btn3 third-row-btn4 third-row-btn5'
    'fourth-row-btn1 fourth-row-btn2 fourth-row-btn3 fourth-row-btn4 fourth-row-btn5'
    'fifth-row-btn1 fifth-row-btn2 fifth-row-btn3 fifth-row-btn4 fifth-row-btn5';   
    grid-gap:2px #eee solid;
} 

/* grid area set  */
.first-row-btn1{
    grid-area: first-row-btn1;
}
.first-row-btn2{
    grid-area: first-row-btn2;
}
.first-row-btn3{
    grid-area: first-row-btn3;
}
.first-row-btn4{
    grid-area: first-row-btn4;
}
.first-row-btn5{
    grid-area: first-row-btn5;
}
.secend-row-btn1{
    grid-area: secend-row-btn1;
}
.secend-row-btn2{
    grid-area: secend-row-btn2;
}
.secend-row-btn3{
    grid-area: secend-row-btn3;
}
.secend-row-btn4{
    grid-area: secend-row-btn4;
}
.secend-row-btn5{
    grid-area: secend-row-btn5;
}
.third-row-btn1{
    grid-area: third-row-btn1;
}
.third-row-btn2{
    grid-area: third-row-btn2;
}
.third-row-btn3{
    grid-area: third-row-btn3;
}
.third-row-btn4{
    grid-area: third-row-btn4;
}
.third-row-btn5{
    grid-area: third-row-btn5;
}
.fourth-row-btn1{
    grid-area: fourth-row-btn1;
    
}
.fourth-row-btn2{
    grid-area: fourth-row-btn2;
}
.fourth-row-btn3{
    grid-area: fourth-row-btn3;
}
.fourth-row-btn4{
    grid-area: fourth-row-btn4;
}
.fourth-row-btn5{
    grid-area: fourth-row-btn5;
}
.fifth-row-btn1{
    grid-area: fifth-row-btn1;
}
.fifth-row-btn2{
    grid-area: fifth-row-btn2;
}
.fifth-row-btn3{
    grid-area: fifth-row-btn3;
}
.fifth-row-btn4{
    grid-area: fifth-row-btn4;
}
.fifth-row-btn5{
    grid-area: fifth-row-btn5;
}
.first-row , .secend-row , .third-row,
.fourth-row , .fifth-row{
    justify-self: center;
    align-self: center;
}